@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Merriweather+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
* {
    padding: 0;
    margin: 0;
}
body,
app,
html,
#root,
.app {
    height: 100%;
    background-color: #fbf4fe;
    color: #444;
}
.left-chevron {
    background-color:black;
    height: inherit;
    width: 10rem;
    clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
    margin-left: 10px;
}

.animated-marquee {
    -moz-animation: marquee 15s linear infinite;
    -webkit-animation: marquee 15s linear infinite;
    animation: marquee 10s linear infinite;
    color: #000;
}

.animate-marquee {
    -moz-animation: marquee 15s linear infinite;
    -webkit-animation: marquee 15s linear infinite;
    animation: marquee 10s linear infinite;
    color: #000;
}


.animate-marquee::after {
    content: 'dddddddddddddddddddddddddd';
    -moz-animation: reverse-marquee 1s linear infinite;
    -webkit-animation: reverse-marquee 1s linear infinite;
    animation: reverse-marquee 10s linear infinite;
    position: absolute;
    background-color: red;
    height: 10rem;
    width: 100vw;
    top: 50%;
    left: 0;
    right: 0;
    margin: auto;
    transform: translateY(-50%);
}

/* @ js */


.hero-section {
	position: relative;
	top: 50vh;
	overflow: hidden;
	font: 900 9vw/1 sans-serif;
	min-height: 100vh;
  }
@keyframes marquee {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-1%);
    }
}

@keyframes reverse-marquee {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(100%);
    }
}